@charset "UTF-8";

* {font-family: "궁서체" ;}

hr {
	border: 0px;
	height: 2px;
	background-color: #b8371b;
}

a:visited {
	color: #b8371b;
}
.subtitle {
	color: #b8371b;
}
.rgt {
	height: 100px;
	border: 2px solid #b8371b;
}

ul li {
	list-style-type: none; float: left; margin-top:5px; font-size: large;
}

li:not(:first-child) {
	margin-left:50px;
}

.product-title {
	float : left ;
	margin : 40px;
    text-align:center;
    display:table;
    width:280px;
    height:250px;
}

.product-img-div {
    display:table-cell;
    vertical-align:middle;
}

.product-img {
	margin : 30px;
	height : 250px;
}

.small {
	font-size:small;
}

.middle {
	font-size:middle;
}

.large {
	font-size:large;
}

.title-box {
	float: left;
	display:inline-block;
 	margin-left :70px; 
 	margin-top :130px; 
}
.title {
	font-size : 30px;
}
.subtitle {
	font-size:20px;
	color:gray;
}
