@charset "UTF-8";

body{font-family: 'Nanum Gothic', sans-serif;  width : 1024px;   margin-left: auto;
  margin-right: auto;}

main {
/* 	background : #f2f4f7; */
	min-height : 700px;
}

select {
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance : none;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	
	color : #b8371b;
	background-color: white;
	
	padding:0.6em 1.4em 0.5em 0.8em;
	margin:0;
	
	border : 1px solid black;
	border-radius : 0.5em;
	box-shadow:0 1px 0 1px rgba(0,0,0,0.04);
}

select:hover {
	border-color: #b8371b;
}

select:focus {
	border-color: black;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color : black;
	outline : none;
}

select:disabled {
	opacity:0.5;
}

.progress {
	height : 20px;
	color : red;
}

form {
	display : flex;
	justify-content : center;
	align-items:center;
	height:100vh;
}

.button{
	color : #b8371b;
	background-color:white;
	font-size:13px;
	font-weight:bold;
	border: 2px solid #b8371b;
	height :60px;
	width : 70px;
	border-radius:5px;
	opacity:0.6;
	transition:0.3s;
}
.button:hover{
	border:2px solid white;
	background : #b8371b;
	color:white;
	opacity:1
}

.main-container {
	width:1024px;
	margin:auto;
	display:grid;
	grid-template-rows: 400px 310px 450px 300px; /*가로줄 길이*/
	gap:10px; /*자식요소간 간격*/
}
.temp-box{
	width:100%;
	font-size:40px;
/* 	border:1px solid #dee3eb; */
	text-align : left;
}
.box-one {
	display : flex;
/* 	border:none;  */
}
.box-one > div:first-child{
	width:100%;
	flex:3; /*공간 차지 비율*/
	justify-content:center;
	align-items:center;
}
.box-one > div:last-child{
	width:100%;
	flex:5;
}
.gap-box {
/* 	background:#f2f4f7; */
	height:10px;
}
.imageArea {
	display : flex;
	justify-content:center;
	align-items:center;
}
.textButtonArea {
	display : flex;
	justify-content:center;
	align-items:center;
	
}
.container-contents {	
	width : 100%;
	align-items:center;
}
.item-detail{
	width:100%;
	display : flex;
	flex-direction : column;
}
.item-detail1 {
	margin-top : 30px;
	height : 55%;
	justify-content:center;
	align-items:center;
}
.item-detail2 {
	height : 60px;
	flex-direction : row;
	justify-content:center;
/* 	align-items:center; */
}
.item-detail3 {
	height : auto;
	flex-direction : row;
	justify-content:center;
/* 	align-items:center; */
}
.item-detail4 {
		height : auto;
	flex-direction : row;
	justify-content:center;
}
span img {
   resize: both; /* 이미지 최대 사이즈에 적용 */
   float: center; /* 가운데 정렬 */
   max-width: 200px; /* 넓이를 지정 */
   height: auto; /* 높이를 지정 */
   margin: 5px 0; /* 여백을 적용 4가지 조건이 가능 위쪽, 오른쪽, 아래쪽, 왼쪽 순서 */
}

.rgt {
	height: 50px;
	float: left;
	margin : 10px;
	border: 2px solid #b8371b;
}

.contents {
	height : 100%;
}

#gradeBtn {
border : 0px;
background-color : white;
height : 70px;
width : 70px;
}

#gradeImg {
border : 0px;
background-color : white;
padding:5px;
border-radius:5px;
height : 70px;
width : 70px;
border-radius:5px;
margin-right: -4px;
}

#gradeImg:hover {
background-color:skyblue;
}