@charset "UTF-8";

main {
/* 	background : #f2f4f7; */
	min-height : 700px;
}
.main-container {
	width:1080px;
	margin:auto;
	display:grid;
	grid-template-columns:740px 330px; /*세로줄 길이*/
	grid-template-rows: 120px 310px 890px 130px; /*가로줄 길이*/
	gap:10px; /*자식요소간 간격*/
}
.temp-box{
	width:100%;
	height:100%;
	font-size:40px;
/* 	border:1px solid #dee3eb; */
	text-align : center;
}
.box-one {
	display : flex;
/* 	border:none;  */
}
.box-one > div:first-child{
	width:100%;
	flex:3; /*공간 차지 비율*/
}
.box-one > div:last-child{
	width:100%;
	flex:5;
}
.gap-box {
/* 	background:#f2f4f7; */
	height:10px;
}
.border-dee3eb {
/* 	border:1px solid #dee3eb; */
}
span img {
   resize: both; /* 이미지 최대 사이즈에 적용 */
   float: center; /* 가운데 정렬 */
   max-width: 200px; /* 넓이를 지정 */
   height: auto; /* 높이를 지정 */
   margin: 5px 0; /* 여백을 적용 4가지 조건이 가능 위쪽, 오른쪽, 아래쪽, 왼쪽 순서 */
}