@charset "UTF-8";

footer {
	font-family: 'Nanum Gothic', sans-serif; margin-left: none;
  margin-right: none;
}

.footer {
	display:flex;
	top: 50px;
	height: 230px;
	padding: 2% 18%;
	margin-top: 280px;
	text-align: left;
	background-color: #444;
	color: white;
	list-style: none;
	line-height: 25px;
	width:1024px;
}

.footer-foot_box{
	width: 60%;

}

.footer-notice{
	 width:40%;
}


.footer-notice a{
	color: #ffb532;
	text-decoration: none;
}

.footer-notice a:hover {
	color: white;
}

