<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.book.BookMapper">

<resultMap id="book"  type="com.care.root.book.dto.BookDTO">
      <id property="bookNum" column="book_num" />
      <result property="title" column="title" />
      <result property="subtitle" column="subtitle" />
      <result property="writer" column="writer"/>
      <result property="company" column="company" />
      <result property="hit" column="hit" />
      <result property="grade" column="grade" />
      <result property="likeCnt" column="like_cnt" />
      <result property="totalPage" column="total_page" />
      <result property="bookIntro" column="BOOK_INTRODUCTION" />
      <result property="contentsTable" column="TABLE_OF_CONTENTS" />
      <result property="writerIntro" column="WRITER_INTRODUCTION" />
   </resultMap>
   
   <resultMap id="bookCode"  type="com.care.root.book.dto.GenreDTO">
      <id property="genre" column="genre" />
      <result property="code" column="code" />
      <result property="korean" column="korean" />
      <result property="division" column="division" />
   </resultMap>
   
     <resultMap id="like_book"  type="com.care.root.book.dto.LikeDTO">
      <id property="id" column="id" />
      <result property="bookNum" column="book_num" />
   </resultMap>
   
   <resultMap id="book_grade" type="com.care.root.book.dto.GradeDTO">
   <id property="id" column="id" />
   <result property="bookNum" column="book_num"/>
   <result property="grade" column="grade"/>
   </resultMap>
   
   <select id="bookList" resultMap="book">
      select book_num, title, subtitle, writer, company from book where book_num LIKE #{bookNum}
   </select>
   
   <select id="bookSearch" resultMap="book">
      select book_num, title, subtitle, writer, company from book where title LIKE #{search} 
      or subtitle LIKE #{search} or writer LIKE #{search} or company LIKE #{search}
   </select>

   <select id="detail" resultMap="book">
      select book_num, title, subtitle, writer, company, BOOK_INTRODUCTION, TABLE_OF_CONTENTS, WRITER_INTRODUCTION from book where book_num=#{bookNum}
   </select>
   
   <update id="hitPlus">
      update book set hit=#{hit} where book_num=#{bookNum}
   </update>
     
   <select id="hitLoad" resultType="int">
      select hit from book where book_num=#{bookNum}
   </select>
   
   <select id="getHit" resultMap="book">
      select book_num, hit from book
   </select>
   
    <select id="getAll" resultMap="book">
      select * from book where book_num=#{bookNum}
   </select>
   
    <select id="getAllBook" resultMap="book">
      select * from book
   </select>
   
   <select id="bookCode" resultMap="bookCode">
      select genre, code from bookCode where genre=#{genre}
   </select>
   
   <select id="bookCodeKr" resultMap="bookCode">
      select * from bookCode where genre=#{genre}
   </select>
   
   <select id="codeGenre" resultMap="bookCode">
      select * from bookCode where code LIKE #{code}
   </select>
   
   <select id="getRecommend" resultMap="book">
      select * from book where book_num=#{bookNum}
   </select>
   
   <select id="gradePush" resultMap="book_grade">
      insert into book_grade (id, book_num, grade) values (#{id}, #{bookNum}, #{gradeLevel})
   </select>
   
   <select id="gradeLoad" resultType="int">
   	select grade from book_grade where book_num=#{bookNum}
   </select>
   
   <select id="gradeCheck" resultMap="book_grade">
   	select * from book_grade where book_num=#{bookNum} and id=#{id}
   </select>
   
   <select id="gradeOriginal" resultType="double">
   	select grade from book where book_num=#{bookNum}
   </select>
   
   <update id="gradeUpdate">
      update book set grade=#{grade} where book_num=#{bookNum}
   </update>
   
   <update id="gradeChange">
      update book_grade set grade=#{gradeLevel} where book_num=#{bookNum} and id=#{id}
   </update>
   
   <select id="likeCheck" resultMap="like_book">
      select * from like_book where id=#{id} and book_num=#{bookNum}
   </select>
      
   <select id="likePush" resultMap="like_book">
      insert into like_book (id, book_num) values (#{id}, #{bookNum})
   </select>
   
   <select id="likeCancel" resultMap="like_book">
      delete from like_book where id=#{id} and book_num=#{bookNum}
   </select>
   
   <select id="recommendList" resultType="string">
   		select book_num from recommend_book
   </select>
   
   <select id="recommendPlus">
      insert into recommend_book (book_num) values (#{bookNum})
   </select>
   
    <select id="recommendDelete">
      delete from recommend_book where book_num=#{bookNum}
   </select>
   
    <insert id="bookPlus">
      insert into book (book_num,title,subtitle,writer,company,BOOK_INTRODUCTION,WRITER_INTRODUCTION,TABLE_OF_CONTENTS) values (#{bookNum},#{title},#{subtitle},#{writer},#{company},#{bookIntro},#{writerIntro},#{contentsTable})
   </insert>

</mapper>